body {
	height: 100vh;
	width: 100vw;
	margin: 0;
	font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
		'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
		sans-serif;
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
}

#root {
	height: 100%;
	width: 100%;
}

@font-face {
	font-family: 'KyoboHandwriting2023wsa';
	src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/2404-2@1.0/KyoboHandwriting2023wsa.woff2') format('woff2');
	font-weight: normal;
	font-style: normal;
}

code {
	font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
		monospace;
}

#cover {
	display: flex;
	justify-content: center;
	border: 3px solid #2289C3;
	background-color: white;
	border-radius: 50px;
	width: 65%;
	height: 85%;
}

input[type=text],
input[type=password],
input[type=number],
input[type=email] {
	border-style: none;
	/* mui의 border를 none처리 하는 방법 찾기 */
	padding: 7px 4px;
	height: 1rem;
	width: 100%;
}

/* mui에서 지정된 number icon 제거 */
input[type='number']::-webkit-inner-spin-button,
input[type='number']::-webkit-outer-spin-button {
	-webkit-appearance: none;
	margin: 0;
}

/* 캘린더 */
#calendar {
	height: 100%;
	width: 70%;

	.react-calendar {
		width: 100%;
		height: 100%;
		padding: 5% 5%;
		border: none;
	}

	.react-calendar__navigation {
		background: rgb(197, 234, 247);
		border-bottom: 4px solid #009fb1;
		height: 90px;
		border-radius: 20px 20px 0 0;

		span {
			font-size: 24px;
			font-weight: 600;
			color: rgb(255, 255, 255);
		}
	}

	.react-calendar__navigation__prev-button,
	.react-calendar__navigation__next-button {
		font-size: 40px;
		color: white;
	}

	.react-calendar__navigation button:disabled {
		background-color: rgb(197, 234, 247);
		border-radius: 20px 20px 0 0;
	}

	.react-calendar__navigation button:enabled:hover,
	.react-calendar__navigation button:enabled:focus {
		background-color: rgb(197, 234, 247);
		border-radius: 20px 20px 0 0;
	}


	.react-calendar__viewContainer {
		height: calc(100% - 90px);
	}

	.react-calendar__month-view {
		height: 100%;
		padding: 12px 32px;

		abbr {
			color: #009fb1;
			font-size: 16px;
			font-weight: 500;
		}
	}

	.react-calendar__month-view>div {
		height: 100%;
	}

	.react-calendar__month-view>div>div {
		height: 100%;
	}

	.react-calendar__month-view__weekdays {
		height: 34px;

		abbr {
			font-size: 18px;
			font-weight: 900;
		}
	}

	.react-calendar__month-view__days {
		height: calc(100% - 34px);
	}

	.react-calendar__month-view__days__day {
		height: 16%;
	}

	.react-calendar__tile {
		text-align: center;
		height: 60px;
		display: flex;
		flex-direction: column;
		justify-content: flex-start;
		align-items: center;
	}

	.react-calendar__tile:enabled:hover,
	.react-calendar__tile:enabled:focus,
	.react-calendar__tile--active {
		background: rgb(201, 201, 201);
		border-radius: 14px;
	}

	.react-calendar__tile--now {
		background: rgb(197, 234, 247);
		border-radius: 14px;
	}

	.react-calendar__tile--now:enabled:hover,
	.react-calendar__tile--now:enabled:focus {
		background: rgb(201, 201, 201);
		border-radius: 14px;
	}

	.react-calendar__year-view {
		height: 100%;
		padding: 12px 32px;
	}

	.react-calendar__year-view__months {
		height: 100%;
	}

	.react-calendar__year-view__months__month {
		height: 25%;
		justify-content: center;
	}

	.react-calendar__decade-view {
		height: 100%;
		padding: 12px 32px;
	}

	.react-calendar__decade-view__years {
		height: 100%;
	}

	.react-calendar__decade-view__years__year {
		height: 25%;
		justify-content: center;
	}

	.react-calendar__century-view {
		height: 100%;
		padding: 12px 32px;
	}

	.react-calendar__century-view__decades {
		height: 100%;
	}

	.react-calendar__century-view__decades__decade {
		height: 25%;
		justify-content: center;
	}
}

.swiper {
	height: calc(100% - 90px);
}

/* 미니 캘린더 */
#miniCalendar {
	height: 100%;
	width: 100%;

	.react-calendar {
		width: 100%;
		height: 100%;
		padding: 5% 5%;
		border: none;
	}

	.react-calendar__navigation {
		background: rgb(197, 234, 247);
		border-bottom: 4px solid #009fb1;
		height: 60px;
		border-radius: 20px 20px 0 0;

		span {
			font-size: 16px;
			font-weight: 600;
			color: rgb(255, 255, 255);
		}
	}

	.react-calendar__navigation__prev-button,
	.react-calendar__navigation__next-button {
		font-size: 30px;
		color: white;
	}

	.react-calendar__navigation button:disabled {
		background-color: rgb(197, 234, 247);
		border-radius: 20px 20px 0 0;
	}

	.react-calendar__navigation button:enabled:hover,
	.react-calendar__navigation button:enabled:focus {
		background-color: rgb(197, 234, 247);
		border-radius: 20px 20px 0 0;
	}


	.react-calendar__viewContainer {
		height: calc(100% - 60px);
	}

	.react-calendar__month-view {
		height: 100%;
		padding: 8px 20px;

		abbr {
			color: #009fb1;
			font-size: 16px;
			font-weight: 500;
		}
	}

	.react-calendar__month-view>div {
		height: 100%;
	}

	.react-calendar__month-view>div>div {
		height: 100%;
	}

	.react-calendar__month-view__weekdays {
		height: 25px;

		abbr {
			font-size: 16px;
			font-weight: 900;
		}
	}

	.react-calendar__month-view__days {
		height: calc(100% - 25px);
	}

	.react-calendar__month-view__days__day {
		height: 16%;
	}

	.react-calendar__tile {
		text-align: center;
		height: 60px;
		display: flex;
		flex-direction: column;
		justify-content: flex-start;
		align-items: center;
	}

	.react-calendar__tile:enabled:hover,
	.react-calendar__tile:enabled:focus,
	.react-calendar__tile--active {
		background: rgb(201, 201, 201);
		border-radius: 14px;
	}

	.react-calendar__tile--now {
		background: rgb(197, 234, 247);
		border-radius: 14px;
	}

	.react-calendar__tile--now:enabled:hover,
	.react-calendar__tile--now:enabled:focus {
		background: rgb(201, 201, 201);
		border-radius: 14px;
	}

	.react-calendar__year-view {
		height: 100%;
		padding: 8px 20px;
	}

	.react-calendar__year-view__months {
		height: 100%;
	}

	.react-calendar__year-view__months__month {
		height: 25%;
		justify-content: center;
	}

	.react-calendar__decade-view {
		height: 100%;
		padding: 8px 20px;
	}

	.react-calendar__decade-view__years {
		height: 100%;
	}

	.react-calendar__decade-view__years__year {
		height: 25%;
		justify-content: center;
	}

	.react-calendar__century-view {
		height: 100%;
		padding: 8px 20px;
	}

	.react-calendar__century-view__decades {
		height: 100%;
	}

	.react-calendar__century-view__decades__decade {
		height: 25%;
		justify-content: center;
	}
}

.swiper {
	height: calc(100% - 60px);
}

/* 노트 */
#note {
	height: 100%;
	width: 70%;

	.react-calendar {
		width: 100%;
		height: 100%;
		padding: 5% 5%;
		border: none;
	}

	.react-calendar__navigation {
		background: rgb(197, 234, 247);
		border-bottom: 4px solid #009fb1;
		height: 90px;
		border-radius: 20px 20px 0 0;

		span {
			font-size: 24px;
			font-weight: 600;
			color: rgb(255, 255, 255);
		}
	}

	.react-calendar__month-view {
		height: 100%;
		padding: 12px 32px;

		abbr {
			color: #009fb1;
			font-size: 16px;
			font-weight: 500;
		}
	}
}

.swiper {
	height: calc(100% - 90px);
}
